{% load static %}
		<section id="page-title">

			<div class="container clearfix">
				<h1>{{ target_company.company_name }}</h1>
				<span>{{ target_company.code }} / {{ target_company.country }} / {{ target_company.market }}</span>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Home</a></li>
					<li class="breadcrumb-item"><a href="#">Templates</a></li>
					<li class="breadcrumb-item active" aria-current="page">Side Panel</li>
				</ol>
			</div>

		</section><!-- #page-title end -->