@charset "utf-8";

/* 공시뷰어 */
 * {margin:0; padding:0;}
abbr, img, fieldset {border:0 none;}
ol, ul, li {list-style:none;}
.skip, hr, legend, caption{visibility:hidden;left:-5000px;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
table {border-collapse:collapse; border-spacing:0;}

.viewer{width:100%;background:#DFE8F6 url(/images/common/bg_view_search.gif) repeat-x !important;}
.viewer .header{overflow:hidden; width:1024px !important; font-family:"굴림", Gulim, Sans-Serif;}
.viewer .view_tit{float:left; width:215px; height:76px; background:url(/images/common/bg_view_tit.gif) no-repeat;}
.viewer .view_logo{padding:5px 0 21px 20px;}
.viewer .view_tit p{padding-left:6px;}
.viewer .view_tit p img{vertical-align:top;}
.viewer .view_tit p span{display:inline-block; font-size:14px; font-weight:bold; color:#fff; width:150px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;}
.viewer .view_tit p a{display:inline-block; font-size:14px; font-weight:bold; color:#fff;  text-decoration:none;}
.viewer .view_tit p a:hover{text-decoration:none;}
.viewer p img{vertical-align:middle;}
.viewer .view_search{float:left; position:relative; width:809px; height:62px; padding:14px 0 0 0; }
.viewer .view_search p{float:none; padding:0 0 10px 3px;}
.viewer .view_search p.f_none{float:none;}
.viewer .view_search p label{font-weight:bold;font-size:12px;}
.viewer .view_search p select{width:320px;}
.viewer .view_search p select.with{width:auto;}
/*.viewer .view_search ul{position:absolute; top:42px; right:0; overflow:hidden; width:368px;}*/
.viewer .view_search ul{position:absolute; top:42px; right:0; overflow:hidden; width:272px;}
.viewer .view_search ul li{float:left; padding-left:12px;}

/* 공시뷰어 IR */
.ir{width:auto !important; vertical-align:top; margin:2px 0 0 4px;}

#pop_head{position:relative; height:56px; margin-bottom:7px; border-bottom:3px solid #4577c0; background:#fff url(/images/pop/bg_pop_head.jpg) no-repeat right top;}
#pop_head .tit{padding:18px 0 0 15px;}
#pop_head .close{position:absolute; top:10px; right:14px;}

#pop_body .search_box{width:480px; padding:1em 10px; margin:0 auto 0.625em; border:1px solid #c3cad4; background:#fefffa;}
#pop_body .search_box form{background:none;}

#pop_footer{position:relative; height:28px; padding:13px 0px; }
#pop_footer .cen_btn2{text-align:center;}

/* 기업개황테이블  */
.pop_table_B{position:relative;width:470px;margin:0px 8px;}
.pop_table_B table{width:467px; border:1px solid #b5b5b5 !important;}
.pop_table_B tr{height: 24px;}
*:first-child+html .pop_table_B tr{height: 17px;}
.pop_table_B th{padding:3px 7px;border-bottom:1px solid #d8d8d8;border-right:1px solid #d8d8d8;background:#f8f8f8;text-align:left; color:#3169a1;}
.pop_table_B td{padding:3px 5px;border-bottom:1px solid #d8d8d8;}
